@media screen and (max-width: 800px) {
  /* Mobile view */
  .container {
    display: flex;
    flex-direction: column;
  }

  .bg-bleu {
    background-color: #494e5f;
    width: 100%;
  }

  .left {
    padding: 10%;
    float: center;
  }

  .right {
    padding: 5%;
    background-color: #fefefa;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
  }

  .bg-bleu {
    background-color: #494e5f;
    width: 50%;
  }

  .left {
    padding: 10%;
    width: 50%;
    float: right;
  }

  .right {
    width: 30%;
    padding: 5%;
    background-color: #fefefa;
  }
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.fond-beige {
  background-color: #ffe7d4;
  padding: 10px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-family: Montserrat, sans-serif;
}

h4 {
  font-weight: normal;
}

.bleu {
  color: #494e5f;
}

.beige {
  color: #ffe7d4;
}

.blanc {
  color: #fefefa;
}
